
/*---
title: Text modifiers
name: textModifiers
section: Typography
---
Utility classes that modify specific type properties using
standard color/weight/size values.

Prefer using standard type scale classes; these classes are
intended to help cover special cases.
*/

:root {
  --font-size-display1: 39px;
  --font-size-display2: 31px;
  --font-size-display3: 25px;
  --font-size-big: 20px;
  --font-size-default: 16px;
  --font-size-small: 13px;
  --font-size-tiny: 10px;

  --font-weight-default: 400;
  --font-weight-bold: 700;
}



/*----
title: Text Transform Modifiers
name: textTransformModifiers
parent: Typography
----
Modifies text transform.

```example:html
<p class="text--caps">lowercase in source; all caps when rendered</p>
<p>Default body Text</p>
```
*/
.text--caps {
  text-transform: uppercase;
}


/**
## Questions:

### Line Height
- wtf is up with the baseline grid? how does it work? how does that correspond with line heights?
  - does small text need to be different than tiny in line height?

### Color
- what is the default background color???
- should color be completely independent of "type"?
- how does inverted context work? What should secondary text snap to? Should the backgroudn get absorbed into text color?
- what color is "default" for text - does it varry based on size/type?

### Named Abstractions
- are the named abstractions ligned with design intention?
- is data different than just small text? in color or line height or weight?

*/
