:root {
  --font-size-display1: 39px;
  --font-size-display2: 31px;
  --font-size-display3: 25px;
  --font-size-big: 20px;
  --font-size-default: 16px;
  --font-size-small: 13px;
  --font-size-tiny: 10px;

  --font-weight-default: 400;
  --font-weight-bold: 700;
}

/*---
title: Type Scale
name: typeScale
section: Typography
---
Classes that apply styles from our standard type scale.

```example:html
<p class="typeset--display">This is display text</p>
<p class="typeset--pageHead">Page-level heading</p>
<p class="typeset--sectionHead">Section-level heading</p>
<p class="typeset--minorHead">Minor heading</p>
<p>Default body text</p>
<p class="typeset--data">Text for data (e.g. tables)</p>
<p class="typeset--caption">This is a caption</p>
```
*/

.typeset--display {
  font-size: var(--font-size-display1);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.typeset--pageHead {
  font-size: var(--font-size-display2);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.typeset--sectionHead {
  font-size: var(--font-size-display3);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.typeset--minorHead {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.typeset--data {
  font-size: var(--font-size-small);
  line-height: var(--font-lineHeight-smallText);
}

.typeset--caption {
  font-size: var(--font-size-tiny);
  line-height: var(--font-lineHeight-tinyText);
}


/**
## Questions:

### Line Height
- wtf is up with the baseline grid? how does it work? how does that correspond with line heights?
  - does small text need to be different than tiny in line height?

### Color
- how does inverted context work? What should secondary text snap to? Should the backgroudn get absorbed into text color?
- what color is "default" for text - does it varry based on size/type?

### Named Abstractions
- are the named abstractions ligned with design intention?
- is data different than just small text? in color or line height or weight?

*/
